@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
body{
     font-family:"微软雅黑";
}
a{
     text-decoration:none;
}
li{
     list-style:none;
}
/*calu*/
.calu{
	width: 982px;
	height:50px;
	margin:0 auto;
	background: rgb(235,235,235);
	position: fixed;
	top:606px;
	left: 183px;
	z-index: 999;
}
.calu span,a,label{
	display: inline-block;
	font-size: 12px;
}
.calu label{
	margin-left: 10px;
	}
.calu span{
	float: right;
	height: 50px;
	line-height: 50px;
}
.calu a{
	width: 100px;
	height: 50px;
	line-height: 50px;
	color: #333;
	text-align: center;
}
.calu a:nth-of-type(1){
	width: 30px;
	margin-left: 15px;
}
.calu a:nth-of-type(4){
	width: 30px;
}
.calu a:nth-of-type(5){
	float: right;
	line-height: 50px;
	text-align: center;
	background: rgb(205,205,205);
	font-size: 20px;
	color: white;
}
.calu span:nth-of-type(1){
	width: 53px;
	font-size: 22px;
	color: red;
}
.calu .heji{
	font-size: 14px;
	padding-right: 25px;
}
.calu span:nth-of-type(2){
	width: 126px;
	margin-left: 45px;
}
.calu span:nth-of-type(4){
	color: red;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
/*addshopcarlist*/
.addshopcarlist{
	margin:0 auto;
	width: 982px;
	/*background: pink;*/
}
.addshopcarlist:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
.list_top div{
	float: left;
	width: 130px;
	text-align: center;
	color: #3c3c3c;
	font-weight: 600;
	height: 45px;
}
em{
	color: red;
}
.list_top div:nth-child(1){
	border-bottom:2px solid red;
	line-height: 45px;
	box-sizing: border-box;
}
.list_top div:nth-child(2){
	border-left:1px solid rgb(235,235,235);
	border-right:1px solid rgb(235,235,235);
	height: 28px;
	margin-top: 10px;
	line-height: 28px;
}
.list_top div:nth-child(3){
	line-height: 45px;
}
.list_top span{
	display: inline-block;
}
.addshopcarlist .list_top{
	width: 982px;
	height:43px;
	border-bottom: 2px solid #e6e6e6;
}
.tab {
	width: 982px;
	/*border:1px solid rgb(235,235,235);*/
	font-size: 13px;
	border-collapse: collapse;
}
.tab td{
	border:1px solid rgb(235,235,235);
	text-align: center;
	vertical-align: middle;
	height: 90px;
}
.tab span{
	display: inline-block;
}
.biaoge .tab img,.fxk{
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}
.tab input{
	margin-top: 35px;
}
.dp .dpinp{
	text-align: center;
	vertical-align: middle;
	margin-top: -2px;
}
.tab .add,.jian{
	width: 20px;
	height: 20px;
	background:rgb(235,235,235); 
	cursor: pointer;                                                 
}
.tab .count{
	border:1px solid rgb(205,205,205); 
	width: 50px;
	height: 18px;
}
.tab th{
	height: 80px;
}
.tabprice{
	font-weight: 600;
}
.allprice{
	color: red;
	font-weight: 600;
}
.tab .dp{
	height: 70px;
	color:#666;
	text-align: left;
	text-indent: 20px;
	border-left: 0;
	border-right: 0;
}
 input{
    cursor: pointer;
  }
  label {
  position: relative;
  cursor: pointer;
}
  input:checked + .show-box {
    background: #ec6337;
  }

  .show-box {
    position: absolute;
    top: 32px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    background: #fff;
}
.show-box:before { 
      content: ''; 
      position: absolute;
      top: 2px;
      left: 6px;
      width: 3px; 
      height: 8px; 
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }